# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
Command/.vs
Command/Command/bin
Command/Command/obj
Command/Command.Tests/bin
Command/Command.Tests/obj
Command/packages

Composite/.vs
Composite/Composite/bin
Composite/Composite/obj
Composite/Composite.Tests/bin
Composite/Composite.Tests/obj
Composite/packages

FactoryMethod/.vs
FactoryMethod/FactoryMethod/bin
FactoryMethod/FactoryMethod/obj
FactoryMethod/FactoryMethod.Tests/bin
FactoryMethod/FactoryMethod.Tests/obj
FactoryMethod/packages

Momento/.vs
Momento/Momento/bin
Momento/Momento/obj
Momento/packages
Momento/Momento.Tests/bin
Momento/Momento.Tests/obj

Singleton/.vs
Singleton/Singleton/bin
Singleton/Singleton/obj
Singleton/packages
Singleton/Singleton.Tests/bin
Singleton/Singleton.Tests/obj

Strategy/.vs
Strategy/Strategy/bin
Strategy/Strategy/obj
Strategy/packages
Strategy/Strategy.Tests/bin
Strategy/Strategy.Tests/obj